pkgbase = markdown-reader-bin
	pkgdesc = Terminal markdown viewer with mermaid rendering, tabs, vim-mode editor, and live reload
	pkgver = {{VERSION}}
	pkgrel = 1
	url = https://github.com/leboiko/markdown-reader
	arch = x86_64
	arch = aarch64
	license = MIT
	provides = markdown-reader
	conflicts = markdown-reader
	options = !strip
	source_x86_64 = {{URL_X86_64_LINUX_GNU}}
	sha256sums_x86_64 = {{SHA256_X86_64_LINUX_GNU}}
	source_aarch64 = {{URL_AARCH64_LINUX_GNU}}
	sha256sums_aarch64 = {{SHA256_AARCH64_LINUX_GNU}}

pkgname = markdown-reader-bin
